doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=600, initial-scale=1")
    title #{pageTitle}
    each googleFontPath in googleFonts
      link(href="https://fonts.googleapis.com/css?family=#{googleFontPath}" rel='stylesheet' type='text/css')
    each cssPath in linkedCSS
      link(rel="stylesheet" href="#{cssPath}.css")
    each jsPath in linkedJS
      script(type="text/javascript" src="#{jsPath}.js")
  body
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        ul.pure-menu-list
          li.pure-menu-item.pure-menu-selected
            a.pure-menu-link(href='#') Meet me
          li.pure-menu-item
            a.pure-menu-link(href='#') See my work
          li.pure-menu-item
            a.pure-menu-link(href='#') Write to me
    .splash-container
      .splash
        canvas(id="golcanvas")
        .splash-head
          h1.splash-head-title
            span(id="splash-anim")
          p.splash-subhead
            | Even machines fail with halting problem
            br
            | but you've got humans.
            br
            | Just hire one and say bye to all your infite problems.
          p
            span.splash-subbutton.pure-button.pure-button-primary(id='hiremebutton') Hire me!
    .content-wrapper
      .content.first
        h2.content-head.first.is-center(style="margin-top: 0;")
          | Meet me!
          .arrowbox
            .arrow
        .conent-body
          .pure-g
            .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4(id="cardbox")
              h3.content-subhead
                | Short bio
              p
                | I'm a student of Mathematics, IT and Mechanics Faculty at Warsaw University
                br
                | I'm keen on programming and doing many things for fun.
                br
                | 
                br
                | You can actually see few of them below: left: #{(lshift-2)*80}%; 
                .card-wrapper
                  -var lshift = 0;
                  -var tshift = 0;
                  each card in cards
                    - ++lshift; if(lshift>3) {lshift=1;++tshift;};
                    .card-container(class="card-z-#{tshift}", style="box-shadow: 0px 20px 50px #{card.cols[2]}; left: #{(lshift-2)*75}%; top: #{tshift*40}%; background: linear-gradient(to bottom, #{card.cols[1]} 30%, #{card.cols[2]} 100%);")
                      .card-image(style="background: linear-gradient(to bottom, #{card.cols[1]} 30%, #{card.cols[2]} 100%);")
                        .card-city
                          img(style='margin-top: 15%; margin-left: 20%; margin-right: 20%; height: 30%; width: 60%;', src="#{card.icon}")
                      .card-story(style="background: linear-gradient(to bottom, #{card.cols[2]} 30%, #{card.cols[1]} 100%); color: #{card.cols[0]};")
                        .card-info(style="color: #{card.cols[0]};")
                          .card-h3(style="color: #{card.cols[0]};")
                            each badge in card.badges
                              img(src="https://img.shields.io/#{badge}")
                          .card-h3(style="color: #{card.cols[0]};") #{card.name}
                          p.card-p(style="color: #{card.cols[0]};")
                            | #{card.descr}
                        a(href="#{card.link}")
                          div.card-button(style="color: #{card.cols[1]}; background-color: #{card.cols[0]};") #{card.name}
                          div.card-button-shadow(style="color: #{card.cols[0]}; background-color: #{card.cols[1]};") See this!
      .content(style="padding-top:80px;")
        .pure-g
          .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4(id="cardbox")
            h3.content-subhead
              | Skills
            p(style="color:#333333;")
              | I was working by myself in nerby of many subjects of IT and Mathematics
              br
              | &nbsp;&nbsp;&nbsp;➜ including <b style="color:black;">self-learing algorithms</b>, 2048 <b style="color:black;">bots</b>, net <b style="color:black;">crawlers</b>,
              br
              | &nbsp;&nbsp;&nbsp;➜ creating <b style="color:black;">css/js/html/jade/coffeejscript/dart</b> webpages and snippets,
              br
              | &nbsp;&nbsp;&nbsp;➜ overcoming difficulties when it came to use <b style="color:black;">C++ Win API</b> (hungarian notation huh?)
              br
              | &nbsp;&nbsp;&nbsp;➜ using professional-level <b style="color:black;">ocaml</b> during studies
              br
              | &nbsp;&nbsp;&nbsp;➜ creating xml-understanding <b style="color:black;">java</b> reflection-based frameworks
              br
              | &nbsp;&nbsp;&nbsp;➜ messing things up <b style="color:black;">with V8</b> (this compilation takes forever huh)
              br
              | &nbsp;&nbsp;&nbsp;➜ writing <b style="color:black;">plugins for Atom</b>
              br
              | &nbsp;&nbsp;&nbsp;➜ playing around with <b style="color:black;">Grunt/Node/Webpack</b> and <b style="color:black;">React/Angular</b> stuff
              br
              br
              | <b style="color:black;">And many other things!</b>
              br
              br
              | I'm keen on programming and doing these things for fun.
              br
              | If you actually want to give me a chance and use my potential Just
              br
              | send me an email! :)
      .ribbon.l-box-lrg.pure-g(id="calendar_ribbon")
          p
            div(class="calendar")
      .content
        h2.content-head.is-center#contactme Contact me!
        .pure-g
          .l-box-lrg.pure-u-1.pure-u-md-2-5
            form.pure-form.pure-form-stacked(action="https://formspree.io/piotrsty1@gmail.com", method="POST")
              fieldset
                label(for='name') Your Name
                input#name(type='text', name='name', placeholder='Your Name')
                label(for='email') Your Email
                input#email(type='email', name='_replyto', placeholder='Your Email')
                label(for='message') Contents
                textarea#message(type='text', name='message', placeholder='Your Message')
                button.pure-button(type='submit', value="Send") Send!
          .l-box-lrg.pure-u-1.pure-u-md-3-5
            h4 Feel free
            p
              | To write an email I will surely answer.
              | Why not to try?
      .footer.l-box.is-center
        | @ Piotr Styczyński 2017y.
