doctype html
html.overflow-hidden
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=600, initial-scale=1")
    link(rel="icon" href="assets/images/favicon.png")

    title #{pageTitle}

  body.overflow-hidden

    .webpage-loader
      .loader
        #loader-figure
          .loader-box-outside
            .loader-box-inside


    span(style="display:none;")
      each jsPath in linkedPreloadedJS
        script(type="text/javascript" src="#{jsPath}.js")
      each googleFontPath in googleFonts
        link(href="https://fonts.googleapis.com/css?family=#{googleFontPath}" rel='stylesheet' type='text/css')
      each cssPath in linkedCSS
        link(rel="stylesheet" href="#{cssPath}.css")
      each jsPath in linkedJS
        script(type="text/javascript" src="#{jsPath}.js")

    .webpage-content
      .header
        .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
          ul.pure-menu-list
            li.pure-menu-item.pure-menu-selected
              a.pure-menu-link(href='#') Meet me
            li.pure-menu-item
              a.pure-menu-link(href='#') See my work
            li.pure-menu-item
              a.pure-menu-link(href='#') Write to me
      .navbar(style="opacity: 0;")
      span.navsection Heading
      .splash-container
        .splash
          canvas(id="golcanvas")
          .splash-head
            h1.splash-head-title
              span(id="splash-anim")
            p.splash-subhead
              | Even machines fail with halting problem
              br
              | but you've got humans.
              br
              | Just hire one and say bye to all your infinite problems.
            p
              span.splash-subbutton.pure-button.pure-button-primary(id='hiremebutton') Hire me!
        .header-links(style="#{headerLinks.cv}")
          //headerLinkImg(512, 512, "cv.png", #{headerLinks.cv})
          //headerLinkSvg(512, 512, "git.svg", "Capa_1", #{headerLinks.git})
          //headerLinkImg(512, 512, "goldenline.png", #{headerLinks.goldenline})
          each link in headerLinks
            if link.submenu
              .link
                svg(viewBox="0 0 #{link.w} #{link.h}")
                  filter(id="inverse")
                    feColorMatrix(in="SourceGraphic" type="matrix" values="-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0")
                  filter(id="grayscale")
                    feColorMatrix(type="saturate" values="0")
                  filter(id="threshold" color-interpolation-filters="sRGB")
                    feComponentTransfer
                      feFuncR(type="discrete" tableValues="0 0.5 1")
                      feFuncG(type="discrete" tableValues="0 0.5 1")
                      feFuncB(type="discrete" tableValues="0 0.5 1")
                  filter(id="blur")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="6")
                  g(filter="url(#blur)")
                    g(filter="url(#threshold)")
                      g(filter="url(#inverse)")
                        if link.image.endsWith(".svg")
                          use(xlink:href="./assets/images/#{link.image}" filter="url(#grayscale)")
                        else
                          image(xlink:href="./assets/images/#{link.image}" width="#{link.w}" height="#{link.h}" filter="url(#grayscale)")
                .submenu
                  each sublink in link.submenu
                    .sublink
                      a.content(href="#{sublink.href}")
                        img(src="./assets/images/#{sublink.image}")
                      if sublink.descr
                        span.text
                          | #{sublink.descr}
            else
              a.link.clickable(href="#{link.href}")
                svg(viewBox="0 0 #{link.w} #{link.h}")
                  filter(id="inverse")
                    feColorMatrix(in="SourceGraphic" type="matrix" values="-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0")
                  filter(id="grayscale")
                    feColorMatrix(type="saturate" values="0")
                  filter(id="threshold" color-interpolation-filters="sRGB")
                    feComponentTransfer
                      feFuncR(type="discrete" tableValues="0 0.5 1")
                      feFuncG(type="discrete" tableValues="0 0.5 1")
                      feFuncB(type="discrete" tableValues="0 0.5 1")
                  filter(id="blur")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="6")
                  g(filter="url(#blur)")
                    g(filter="url(#threshold)")
                      g(filter="url(#inverse)")
                        if link.image.endsWith(".svg")
                          use(xlink:href="./assets/images/#{link.image}" filter="url(#grayscale)")
                        else
                          image(xlink:href="./assets/images/#{link.image}" width="#{link.w}" height="#{link.h}" filter="url(#grayscale)")
                .submenu
                  span.descr
                    | #{link.descr}
                          
          .link-indicator
          
      .content-wrapper
        .content.first
          h2.content-head.first.is-center#hireMeBox(style="margin-top: 0;")
            | Meet me!
            .arrowbox
              .arrow
          .conent-body
            .pure-g
              .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4(id="cardbox")
                span.navsection Short bio
                h3.content-subhead
                  | Short bio
                p
                  | I'm a student of Mathematics, IT and Mechanics Faculty at Warsaw University
                  br
                  | I'm keen on programming and doing many things for fun.
                  br
                  br
                  | You can actually see few of them below:
          .card-pane
            .card-wrapper
              span.navsection Projects
              -var lshift = 0;
              -var tshift = 0;
              each card in cards
                - ++lshift; if(lshift>5) {lshift=1;++tshift;};
                //-.card-container(class="card-z-#{tshift}", style="left: #{(lshift-2)*75}%; top: #{tshift*40}%; background: linear-gradient(to bottom, #{card.cols[1]} 30%, #{card.cols[2]} 100%);")
                .card-container(class="card-z-#{tshift}", style="left: #{(lshift-3)*75}%; top: #{tshift*38-20}%;")
                  //-.card-image(style="background: linear-gradient(to bottom, #{card.cols[1]} 30%, #{card.cols[2]} 100%);")
                  .card-image(style="")
                    .card-city
                      img.card-img-src(style='margin-top: 15%; margin-left: 20%; margin-right: 20%; height: 30%; width: 60%;', src="./assets/images/#{card.icon}")
                  //-.card-story(style="background: linear-gradient(to bottom, #{card.cols[2]} 30%, #{card.cols[1]} 100%); color: #{card.cols[0]};")
                  .card-story(class="card-story-pos" style="background-color: #{card.cols[1]}; color: #{card.cols[0]};")
                    .card-info(style="color: #{card.cols[0]};")
                      .card-h3(style="color: #{card.cols[0]};")
                        each badge in card.badges
                          img(src="https://img.shields.io/#{badge}")
                      .card-h3(style="color: #{card.cols[0]};") #{card.name}
                      p.card-p(style="color: #{card.cols[0]};")
                        | #{card.descr}
                    a(href="#{card.link}")
                      div.card-button(style="color: #{card.cols[1]}; background-color: #{card.cols[0]};") #{card.name}
                      div.card-button-shadow(style="color: #{card.cols[0]}; background-color: #{card.cols[1]};") See this!
          .content(style="padding:0px;")
            .pure-g
              .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4(style="margin:0px; padding:0px;")
                .boxy(style="background-color: rgba(230, 230, 230, 1);")
                .boxy(style="background-color: rgba(220, 220, 220, 1);")
                .boxy(style="background-color: rgba(220, 220, 220, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(220, 220, 220, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(240, 240, 240, 1);")
                .boxy(style="background-color: rgba(230, 230, 230, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(220, 220, 220, 1);")
                br
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(240, 240, 240, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(230, 230, 230, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                br
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(245, 245, 245, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                br
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                br
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                br
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(250, 250, 250, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")
                .boxy(style="background-color: rgba(255, 255, 255, 1);")


          .content(style="margin-top:-750px;")
            .pure-g
              .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4(id="cardbox")
                span.navsection Skills
                h3.skills.content-subhead(style="color:#333333")
                  | Skills
                p.text-box.skills
                  | I was working by myself in nerby of many subjects of IT and Mathematics
                  br
                  | &nbsp;&nbsp;&nbsp;➜ including <b>self-learing algorithms</b>, 2048 <b>bots</b>, net <b>crawlers</b>,
                  br
                  | &nbsp;&nbsp;&nbsp;➜ creating <b>css/js/html/jade/coffeejscript/dart</b> webpages and snippets,
                  br
                  | &nbsp;&nbsp;&nbsp;➜ overcoming difficulties when it came to use <b>C++ Win API</b> (hungarian notation huh?)
                  br
                  | &nbsp;&nbsp;&nbsp;➜ using professional-level <b>ocaml</b> during studies
                  br
                  | &nbsp;&nbsp;&nbsp;➜ creating xml-understanding <b>java</b> reflection-based frameworks
                  br
                  | &nbsp;&nbsp;&nbsp;➜ messing things up <b>with V8</b> (this compilation takes forever huh)
                  br
                  | &nbsp;&nbsp;&nbsp;➜ writing <b>plugins for Atom</b>
                  br
                  | &nbsp;&nbsp;&nbsp;➜ playing around with <b>Grunt/Node/Webpack</b> and <b>React/Angular</b> stuff
                  br
                  br
                  | <b>And many other things!</b>
                  br
                  br
                  | I'm keen on programming and doing these things for fun.
                  br
                  | If you actually want to give me a chance and use my potential Just
                  br
                  | send me an email! :)
          .content.ribbon
            .pure-g

          .content
            h2.content-head.is-center#contactme Contact me!
            .pure-g
              .l-box-lrg.pure-u-1.pure-u-md-2-5(style="width:50%")
                span.navsection Contact
                form.pure-form.pure-form-stacked(action="https://formspree.io/piotrsty1@gmail.com", method="POST")
                  fieldset
                    label(for='name') Your Name
                    input#name(type='text', name='name', placeholder='Your Name')
                    label(for='email') Your Email
                    input#email(type='email', name='_replyto', placeholder='Your Email')
                    label(for='message') Contents
                    textarea#message(type='text', name='message', placeholder='Your Message')
                    button.pure-button(style="width:100%;margin-top:10px;font-size:180%;" type='submit', value="Send") Send!
              .l-box-lrg.pure-u-1.pure-u-md-2-5(style="flow: right; width: 50%")
                img(style="width: 150px; margin-top: 25%; margin-left: 20%; filter: opacity(25%);" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/High-contrast-emblem-mail.svg/2000px-High-contrast-emblem-mail.svg.png" )
              .l-box-lrg.pure-u-1.pure-u-md-3-5
                h4 Contact me please!
                p
                  | Fell free to write an email I will surely answer.
                  | Why not to try?
        .footer.l-box.is-center
          | @ Piotr Styczyński 2017y.
